:root{
    --text-secondary:#fff;
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #f2e4fe;
   --pink: #0B0F2B;
   --light-blue:  #12183C;
   --border: #d9d9d9;
   --card: linear-gradient(to right, #8dbee1, #bff4ff);
   --card2: linear-gradient(150deg, #022674, #0f2f7b, #173d8c);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color: var(--pink) !important;
}

.app{
    display: flex;
    overflow: hidden;
    background-color: var(--card2)
}

.navbar{
    flex: 0.2;
    background-color: var(--pink);
}

.main{
    flex: 0.8;
    width: 100%;
    
}
.routes{
    padding: 20px;
}
.nav-container{
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: var(--pink);
}

.logo-container{
    background-color:var(--pink);
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}
.logo{
    margin:0 0 0 15px;
}

.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}


@media screen and (max-width:1300px){
    .main{
        margin-left: 50px;
    }
}

@media screen and (max-width:1170px){
    .main{
        margin-left: 50px;
    }
}

@media screen and (max-width:1000px){
    .main{
        margin-left: 100px;
    }
}

@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;
    }

    .navbar{
        flex: 1;
    }

    .main{
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--pink);
    }
  
    .menu-control-container{
        display: block !important;
    }

    .ant-menu{
        position: absolute;
        right: 0px;
    }
    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
}

.coin-detail-container{
    margin: 30px;
}

.coin-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name{
    font-weight: 900;
    color: var(--bgSecondary);
    font-size : 2rem;
    border-bottom: 1px solid var(--border);
}

.coin-heading-container p{
    font-size: 1rem;
    opacity: 0.9;
    /* margin-bottom: 20px; */
}
.ant-typography > strong {
    text-align: left !important;
}

a.ant-typography, .ant-typography a{

    color: var(--bgSecondary) !important;
}

h2.ant-typography, .ant-typography h2{
    color: var(--text-primary);
}

.ant-row .ant-typography {
 text-align: left !important;
 color: var(--text-secondary) !important
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--pink);
}

.coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: fff !important;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;

}

.coin-stats-name{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.stats{
    font-weight: 800;
}

.coin-value-statistics-heading p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2{
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a{
    color: var(--pink);
}

.coin-desc-link h3{
    font-weight: 700;
}

.coin-desc{
    flex: 0.5;
}

.coin-links{
  padding: 0px 20px;
    flex: 0.5;
}

.coin-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a{
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
    background-color: var(--bgSecondary);
}

@media screen and (max-width:1000px){
    .stats-container{
        flex-direction: column;
    }
    .coin-desc-link{
        flex-direction: column;
    }
    .stats-container h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px){
    .coin-links{
        padding: 0px;
    }
    .coin-detail-container{
        margin: 0;
    }
}
@media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }
}

.select-news{
    width: 180px;
}
.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
    background-color:  var(--bgPrimary) !important;
}
.news-title{
width: 70%;
}

.news-image-container .img{
    width:100px;
    height:100px;
    
}

.ant-card-body {
    background-image: var(--card2);
    border-radius:10px;
    color: var(--text-secondary);
}
.ant-card-body > p {
    color: var(--text-secondary);
    font-size: 16px;
    line-height: 1.5;
}
.ant-row{
    background-color: var(--pink);
    color: var(--text-secondary) !important;
    font-size: 18px;
    text-align: center;
    row-gap: 6px;
}
.ant-collapse-header{
    background-color: var(--light-blue);
}
.ant-card{
    font-size: 18px !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}
.ant-card-head{
  background: var(--card) !important;
  border-radius: 10px !important;
  color: #09445f !important;
  font-size: 2rem;
  font-weight: 800;
}
.routes {
    background: linear-gradient(to top, #102050, #1C2C5A);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: var(--text-secondary);
}

canvas {
    background: linear-gradient(to top, #102050, #1C2C5A);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.routes, canvas {
    transition: all 0.3s ease-in-out;
}

.news-card p{
    color: black;
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}

.chart-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    background-color: linear-gradient(to top, #102050  #1C2C5A);
    color: var(--light-blue);
    border-radius: 4px;
    padding: 5px;
}
.ant-typography{
    color: var(--text-secondary);
}
.chart-title{
    color: #f6f7fa !important;
}

.price-container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    margin-top: 0px !important;
    font-weight: 900 !important;
    margin-bottom: 0;
    color: #fff !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    color: var(--text-secondary);
}
.show-more{
    margin-top: 0px !important;
}
.exchange-image{
    margin: 0px 10px !important;
}
.search-crypto{
    margin: 20px auto 30px auto;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}
.crypto-card-container{
    min-height: 65vh !important;
    border-radius:10px !important
}
.crypto-card{
    min-width: 250px;
    padding: 20px;
}
.crypto-card .crypto-image{
    width:35px;
}
.select-timeperiod{
    width: 200px !important;
    margin-top: 20px !important;
}

.footer {
    background-color: rgb(2, 22, 40);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.ant-menu {
    box-sizing: content-box !important;
    margin: 0;
    padding: 0;
    font-variant: petite-caps !important;
    height: 100vh;
    line-height: 1.5715;
    font-feature-settings: 'tnum', "tnum";
    /* margin-bottom: 2em !important; */
    padding-left: 1em !important;
    color: var(--text-secondary) !important;
    font-variant: initial;
    
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 100px !important;
    text-align: left;
    list-style: circle;
    background: var(--pink) !important;
    outline: none;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%) !important;
}
.ant-menu-submenu-title {
    height: 86px !important;
    line-height: 82px !important;
    color: var(--text-secondary) !important;
    font-size: 18px !important;
}

.ant-menu-item a{
    color: var(--text-secondary) !important;
    font-size: 18px !important;
    font-weight: 700 !important;
}

.ant-input {
    width: 100% !important;
    height: 40px !important;
    border-radius: 20px !important;
    padding: 0 20px !important;
    font-size: 16px !important;
    border: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

h2.ant-typography, .ant-typography h2{
    color: var(--text-secondary) !important;
}

.ant-statistic-content, .ant-statistic-title {
    color: var(--text-secondary) !important;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;

}